@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

/*Desktop View*/
body{
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: 'Nunito', sans-serif;
  }
  
  .sidebar{
      z-index: 1;
      top: 0;
      background: #1571da;
      position: fixed;
      left: 0;
      width: 175px;
      height: 100%;
      transition: 0.5s;
      transition-property: left;
      overflow: hidden;
      overflow-y: auto;
  }

  .sidebar .current{
    background: black;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #0a0a0a;
    transition: 1s;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    position: fixed;
    top: 0;
    color: #fff;
    background-color: black;
    cursor: pointer;
    font-size: 20px;
    margin-left: 190px;
    margin-top: 10px;
    transition: ease-in  1s;
    transition: ease-out 1s;
    transition-property: color;
    height: 20px;
    width:  20px;
  }
  
  label #sidebar_btn:hover{
    color: #1b1b1b;
  }

  /*.spinEffect{
    transform: rotate(90deg);
 }*/
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 0 250px 150px 250px; /*Top Right Bottom Left*/
    margin-left: 100px;
    color: white;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    justify-content: center;
  }
  
  #check:checked ~ .content{
    margin-left: 0;
  }

  #check:checked ~ .hero{
    margin-left: 0;
  }
  
  #check:checked ~ label #sidebar_btn{
    margin-left: 10px;
  }
  
  #check{
    display: none;
  }
  
  .content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  /*.content .card p{
    color: white;
    background: #1b1b1b;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    opacity: 0.8;
    border: 5px inset #1571da;
    border-radius: 50px;
    text-align: center;
  }*/

  img{
    border-radius: 30px;
  }

  img:hover{
    opacity: 1;
    transition: 2s ease-in;
    backface-visibility: hidden;
    border-radius: 40px;
  }

  .hero{
    max-width: 1000px;
    margin: 0 auto;
}

.hero img{
  width: 300px;
  border-radius: 150px;
  float: right;
  transition: .5s ease-in;
}

.hero img:hover{
  border-radius: 100px;
  transition: .5s ease-out;
}

.hero h1{
  font-size: 4em;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.hero p{
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.8em;
  color: rgb(255, 255, 255);
}

.action-btn{
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  background: #1571da;
  padding: 1em 2em;
  border-radius: 40px;
  margin: 1em 0;
  transition: .5s;
  justify-content: center;
}

.action-btn:hover{
  box-shadow: 0 10px 50px #1571da;
  border-radius: 10px;
}

.footer{
  padding: 25px 0 25px 0; /*Top Right Bottom Left*/
}

.footer ul{
  max-width: 640px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

footer ul li{
  list-style: none;
  align-self: flex-end;
}

footer ul li a{
  text-decoration: none;
  color: #c1c6ce;
}

footer p{
  font-size: 0.8em;
}

.footer img{
  margin: 25px;
  width: 50px;
  background: rgb(255, 255, 255);
  transition: ease-out 1s;
}
  

/*Mobile View*/

@media screen and (max-width: 1284px){

  * {
    box-sizing: border-box;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .sidebar{
    display: block;
    background: #1571da;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-size: 12px;
  }

  .sidebar .current{
    background: black;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    width: 100%;
    float: left;
  }

  /*.hero-content{
    text-align: center;
    padding-right: 10px;
  }

  .active{
    display: block;
  }

  .hero img{
    width: 300px;
    border-radius: 150px;
    transition: .5s ease-in;
    padding: 10px 30px 10px 40px;
  }

  .action-btn{
    margin-left: 115px;
  }

  img{
    border-radius: 30px;
    margin-right: 25px;
  }*/
}